@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Conthrax';
	src: url('../font/conthrax.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@layer base {
	body,
	#root {
		height: 100vh;
	}
	body {
		font-family: 'Conthrax';
		font-optical-sizing: auto;
		font-weight: 600;
		font-size: 18px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #2f394a;
		border-radius: 150px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #2f394a;
	}
}
